/* Reset CSS (JANGAN DIHAPUS) */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
div {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Avenir Next";
}

li {
	list-style: none;
}

/* Ketik code Anda dibawah */
nav {
	height: 90px;
	background-color: #26d0c9;
	color: #fff;
}

nav h1 {
	font-size: 36px;
	margin: 20px 40px;
	float: left;

}

nav ul li {
	margin: 33px 20px;
	float: left;
}

.container {
	margin: 100px 80px;
}

.header h1 {
	font-size: 140px;
}

.header h1 span {
	color: #ff4a4a;
}

.header h2 {
	font-size: 60px;
}